<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Solution | Devmountain Foundations</title>

      <link
        href="../_static/pygments.css"
        rel="stylesheet"
        type="text/css"
      />
      <link href="../_static/devmountain.css" rel="stylesheet" type="text/css" />
          <link rel="stylesheet" type="text/css" href="../_static/pygments.css" />
          <link rel="stylesheet" type="text/css" href="../_static/devmountain.css" />
          <link rel="stylesheet" type="text/css" href="../_static/plot_directive.css" />
          <link rel="stylesheet" type="text/css" href="../_static/graphviz.css" />

      <script src="../_static/pdfobject.min.js"></script>
      
  </head>
  <body>
      <div id="handouts-container">
        <header id="page-header">
            <p id="project-title">Devmountain Foundations</p>
            <p id="page-title">Solution</p>
              <p id="backlink">
                <a href="/"> &laquo; Back to Homepage </a>
              </p>
        </header>

        <nav id="page-toc"><ul>
<li><a class="reference internal" href="#">Solution</a><ul>
<li><a class="reference internal" href="#main-exercise">Main Exercise</a><ul>
<li><a class="reference internal" href="#python">Python</a></li>
<li><a class="reference internal" href="#templates">Templates</a></li>
</ul>
</li>
<li><a class="reference internal" href="#further-study">Further Study</a><ul>
<li><a class="reference internal" href="#id1">Python</a></li>
<li><a class="reference internal" href="#id2">Templates</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</nav>

        <main id="page-content">
            <section class="section" id="solution">
<h1>Solution</h1>
<section class="section" id="main-exercise">
<h2>Main Exercise</h2>
<p>Files that don’t require changes aren’t included in this listing.</p>
<section class="section" id="python">
<h3>Python</h3>
<div class="literal-block-wrapper docutils container" id="id3">
<div class="code-block-caption"><span class="caption-text">main-exercise/shoppingsite.py</span></div>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="sd">&quot;&quot;&quot;Ubermelon shopping application Flask server.</span>

<span class="sd">Provides web interface for browsing melons, seeing detail about a melon, and</span>
<span class="sd">put melons in a shopping cart.</span>

<span class="sd">Authors: Joel Burton, Christian Fernandez, Meggie Mahnken, Katie Byers.</span>
<span class="sd">&quot;&quot;&quot;</span>

<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">render_template</span><span class="p">,</span> <span class="n">redirect</span><span class="p">,</span> <span class="n">flash</span><span class="p">,</span> <span class="n">session</span>
<span class="kn">import</span> <span class="nn">jinja2</span>

<span class="kn">import</span> <span class="nn">melons</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="vm">__name__</span><span class="p">)</span>

<span class="c1"># A secret key is needed to use Flask sessioning features</span>

<span class="n">app</span><span class="o">.</span><span class="n">secret_key</span> <span class="o">=</span> <span class="s1">&#39;this-should-be-something-unguessable&#39;</span>

<span class="c1"># Normally, if you refer to an undefined variable in a Jinja template,</span>
<span class="c1"># Jinja silently ignores this. This makes debugging difficult, so we&#39;ll</span>
<span class="c1"># set an attribute of the Jinja environment that says to make this an</span>
<span class="c1"># error.</span>

<span class="n">app</span><span class="o">.</span><span class="n">jinja_env</span><span class="o">.</span><span class="n">undefined</span> <span class="o">=</span> <span class="n">jinja2</span><span class="o">.</span><span class="n">StrictUndefined</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Return homepage.&quot;&quot;&quot;</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;homepage.html&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/melons&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">list_melons</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Return page showing all the melons ubermelon has to offer&quot;&quot;&quot;</span>

    <span class="n">melon_list</span> <span class="o">=</span> <span class="n">melons</span><span class="o">.</span><span class="n">get_all</span><span class="p">()</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;all_melons.html&quot;</span><span class="p">,</span>
                           <span class="n">melon_list</span><span class="o">=</span><span class="n">melon_list</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/melon/&lt;melon_id&gt;&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">show_melon</span><span class="p">(</span><span class="n">melon_id</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Return page showing the details of a given melon.</span>

<span class="sd">    Show all info about a melon. Also, provide a button to buy that melon.</span>
<span class="sd">    &quot;&quot;&quot;</span>

    <span class="n">melon</span> <span class="o">=</span> <span class="n">melons</span><span class="o">.</span><span class="n">get_by_id</span><span class="p">(</span><span class="n">melon_id</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">melon</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;melon_details.html&quot;</span><span class="p">,</span>
                           <span class="n">display_melon</span><span class="o">=</span><span class="n">melon</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/cart&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">show_shopping_cart</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Display content of shopping cart.&quot;&quot;&quot;</span>

    <span class="c1"># Keep track of the total cost of the order</span>
    <span class="n">order_total</span> <span class="o">=</span> <span class="mi">0</span>

    <span class="c1"># Create a list to hold Melon objects corresponding to the melon_id&#39;s in</span>
    <span class="c1"># the cart</span>
    <span class="n">cart_melons</span> <span class="o">=</span> <span class="p">[]</span>

    <span class="c1"># Get the cart dictionary out of the session (or an empty one if none</span>
    <span class="c1"># exists yet)</span>
    <span class="n">cart</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">&quot;cart&quot;</span><span class="p">,</span> <span class="p">{})</span>

    <span class="c1"># Loop over the cart dictionary</span>
    <span class="k">for</span> <span class="n">melon_id</span><span class="p">,</span> <span class="n">quantity</span> <span class="ow">in</span> <span class="n">cart</span><span class="o">.</span><span class="n">items</span><span class="p">():</span>
        <span class="c1"># Retrieve the Melon object corresponding to this id</span>
        <span class="n">melon</span> <span class="o">=</span> <span class="n">melons</span><span class="o">.</span><span class="n">get_by_id</span><span class="p">(</span><span class="n">melon_id</span><span class="p">)</span>

        <span class="c1"># Calculate the total cost for this type of melon and add it to the</span>
        <span class="c1"># overall total for the order</span>
        <span class="n">total_cost</span> <span class="o">=</span> <span class="n">quantity</span> <span class="o">*</span> <span class="n">melon</span><span class="o">.</span><span class="n">price</span>
        <span class="n">order_total</span> <span class="o">+=</span> <span class="n">total_cost</span>

        <span class="c1"># Add the quantity and total cost as attributes on the Melon object</span>
        <span class="n">melon</span><span class="o">.</span><span class="n">quantity</span> <span class="o">=</span> <span class="n">quantity</span>
        <span class="n">melon</span><span class="o">.</span><span class="n">total_cost</span> <span class="o">=</span> <span class="n">total_cost</span>

        <span class="c1"># Add the Melon object to our list</span>
        <span class="n">cart_melons</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">melon</span><span class="p">)</span>

    <span class="c1"># Pass the list of Melon objects and the order total to our cart template</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;cart.html&quot;</span><span class="p">,</span>
                           <span class="n">cart</span><span class="o">=</span><span class="n">cart_melons</span><span class="p">,</span>
                           <span class="n">order_total</span><span class="o">=</span><span class="n">order_total</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/add_to_cart/&lt;melon_id&gt;&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">add_to_cart</span><span class="p">(</span><span class="n">melon_id</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Add a melon to cart and redirect to shopping cart page.</span>

<span class="sd">    When a melon is added to the cart, redirect browser to the shopping cart</span>
<span class="sd">    page and display a confirmation message: &#39;Melon successfully added to</span>
<span class="sd">    cart&#39;.&quot;&quot;&quot;</span>

    <span class="c1"># Check if we have a cart in the session and if not, add one</span>
    <span class="c1"># Also, bind the cart to the name &#39;cart&#39; for easy reference below</span>
    <span class="k">if</span> <span class="s1">&#39;cart&#39;</span> <span class="ow">in</span> <span class="n">session</span><span class="p">:</span>
        <span class="n">cart</span> <span class="o">=</span> <span class="n">session</span><span class="p">[</span><span class="s1">&#39;cart&#39;</span><span class="p">]</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">cart</span> <span class="o">=</span> <span class="n">session</span><span class="p">[</span><span class="s1">&#39;cart&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="p">{}</span>

    <span class="c1"># We could also do this with setdefault:</span>
    <span class="c1"># cart = session.setdefault(&quot;cart&quot;, {})</span>

    <span class="c1"># Add melon to cart - either increment the count (if melon already in cart)</span>
    <span class="c1"># or add to cart with a count of 1</span>
    <span class="n">cart</span><span class="p">[</span><span class="n">melon_id</span><span class="p">]</span> <span class="o">=</span> <span class="n">cart</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">melon_id</span><span class="p">,</span> <span class="mi">0</span><span class="p">)</span> <span class="o">+</span> <span class="mi">1</span>

    <span class="c1"># Print cart to the terminal for testing purposes</span>
    <span class="c1"># print(&quot;cart:&quot;)</span>
    <span class="c1"># print(cart)</span>

    <span class="c1"># Show user success message on next page load</span>
    <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Melon successfully added to cart.&quot;</span><span class="p">)</span>

    <span class="c1"># Redirect to shopping cart page</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/cart&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/login&quot;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s2">&quot;GET&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">show_login</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Show login form.&quot;&quot;&quot;</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;login.html&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/login&quot;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s2">&quot;POST&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">process_login</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Log user into site.</span>

<span class="sd">    Find the user&#39;s login credentials located in the &#39;request.form&#39;</span>
<span class="sd">    dictionary, look up the user, and store them in the session.</span>
<span class="sd">    &quot;&quot;&quot;</span>

    <span class="c1"># TODO: Need to implement this!</span>

    <span class="c1"># The logic here should be something like:</span>
    <span class="c1">#</span>
    <span class="c1"># - get user-provided name and password from request.form</span>
    <span class="c1"># - use customers.get_by_email() to retrieve corresponding Customer</span>
    <span class="c1">#   object (if any)</span>
    <span class="c1"># - if a Customer with that email was found, check the provided password</span>
    <span class="c1">#   against the stored one</span>
    <span class="c1"># - if they match, store the user&#39;s email in the session, flash a success</span>
    <span class="c1">#   message and redirect the user to the &quot;/melons&quot; route</span>
    <span class="c1"># - if they don&#39;t, flash a failure message and redirect back to &quot;/login&quot;</span>
    <span class="c1"># - do the same if a Customer with that email doesn&#39;t exist</span>

    <span class="k">return</span> <span class="s2">&quot;Oops! This needs to be implemented&quot;</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/checkout&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">checkout</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Checkout customer, process payment, and ship melons.&quot;&quot;&quot;</span>

    <span class="c1"># For now, we&#39;ll just provide a warning. Completing this is beyond the</span>
    <span class="c1"># scope of this exercise.</span>

    <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Sorry! Checkout will be implemented in a future version.&quot;</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/melons&quot;</span><span class="p">)</span>


<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s2">&quot;__main__&quot;</span><span class="p">:</span>
    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="kc">True</span><span class="p">,</span> <span class="n">host</span><span class="o">=</span><span class="s1">&#39;0.0.0.0&#39;</span><span class="p">)</span>
</pre></div>
</div>
</div>
</section>
<section class="section" id="templates">
<h3>Templates</h3>
<div class="literal-block-wrapper docutils container" id="id4">
<div class="code-block-caption"><span class="caption-text">main-exercise/templates/base.html</span></div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span>
          <span class="na">href</span><span class="o">=</span><span class="s">&quot;http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css&quot;</span><span class="p">/&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/static/css/site.css&quot;</span><span class="p">/&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar navbar-inverse navbar-static-top&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-header&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/img/ubermelon-logo.png&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-brand&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/&quot;</span><span class="p">&gt;</span>Ubermelon<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-collapse collapse&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">ul</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;nav navbar-nav navbar-right&quot;</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>
                    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/cart&quot;</span><span class="p">&gt;</span>
                        <span class="p">&lt;</span><span class="nt">img</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;melon-cart&quot;</span>
                             <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/img/watermelon.png&quot;</span><span class="p">&gt;</span>
                        My Melon Cart
                    <span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
                <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/login&quot;</span><span class="p">&gt;</span>Log In<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>

  <span class="c">&lt;!-- Show flashed messages --&gt;</span>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="p">&gt;</span>{{ message }}<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      {% endfor %}
  {% endwith %}

  <span class="c">&lt;!-- This is where the main content goes. --&gt;</span>
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
</div>
<div class="literal-block-wrapper docutils container" id="id5">
<div class="code-block-caption"><span class="caption-text">main-exercise/templates/login.html</span></div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &#39;base.html&#39; %}

{% block body %}

    <span class="p">&lt;</span><span class="nt">form</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;form-signin&quot;</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;POST&quot;</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">h2</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;form-signin-heading&quot;</span><span class="p">&gt;</span>Please Sign In<span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;form-group&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">for</span><span class="o">=</span><span class="s">&quot;email-field&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;sr-only&quot;</span><span class="p">&gt;</span>Email Address<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;email&quot;</span>
                   <span class="na">name</span><span class="o">=</span><span class="s">&quot;email&quot;</span>
                   <span class="na">class</span><span class="o">=</span><span class="s">&quot;form-control input-lg&quot;</span>
                   <span class="na">placeholder</span><span class="o">=</span><span class="s">&quot;Email Address&quot;</span>
                   <span class="na">required</span>
                   <span class="na">autofocus</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;form-group&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">for</span><span class="o">=</span><span class="s">&quot;password-field&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;sr-only&quot;</span><span class="p">&gt;</span>Password<span class="p">&lt;/</span><span class="nt">label</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;password&quot;</span>
                   <span class="na">name</span><span class="o">=</span><span class="s">&quot;password&quot;</span>
                   <span class="na">class</span><span class="o">=</span><span class="s">&quot;form-control input-lg&quot;</span>
                   <span class="na">placeholder</span><span class="o">=</span><span class="s">&quot;Password&quot;</span>
                   <span class="na">required</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;btn btn-lg btn-primary btn-block&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span><span class="p">&gt;</span>Sign In
        <span class="p">&lt;/</span><span class="nt">button</span><span class="p">&gt;</span>

    <span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>

{% endblock %}
</pre></div>
</div>
</div>
<div class="literal-block-wrapper docutils container" id="id6">
<div class="code-block-caption"><span class="caption-text">main-exercise/templates/cart.html</span></div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% extends &#39;base.html&#39; %}

{% block body %}

    <span class="p">&lt;</span><span class="nt">table</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;table table-striped&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">thead</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>Melon Name<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>Quantity<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>Price<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>Total<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">tr</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">thead</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">tbody</span><span class="p">&gt;</span>
        {% for melon in cart %}
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p">&gt;</span>{{ melon.common_name }}<span class="p">&lt;/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p">&gt;</span>{{ melon.quantity }}<span class="p">&lt;/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p">&gt;</span>${{ &quot;%0.2f&quot; | format(melon.price) }}<span class="p">&lt;/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p">&gt;</span>${{ &quot;%0.2f&quot; | format(melon.total_cost) }}<span class="p">&lt;/</span><span class="nt">td</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">tr</span><span class="p">&gt;</span>
        {% endfor %}
        <span class="p">&lt;/</span><span class="nt">tbody</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">table</span><span class="p">&gt;</span>

    <span class="p">&lt;</span><span class="nt">h3</span><span class="p">&gt;</span>Total: ${{ &quot;%0.2f&quot; | format(order_total) }}<span class="p">&lt;/</span><span class="nt">h3</span><span class="p">&gt;</span>

    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/checkout&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;btn btn-large btn-primary&quot;</span><span class="p">&gt;</span>Check Out<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>

{% endblock %}
</pre></div>
</div>
</div>
</section>
</section>
<section class="section" id="further-study">
<h2>Further Study</h2>
<p>Files that don’t require changes aren’t included in this listing.</p>
<section class="section" id="id1">
<h3>Python</h3>
<div class="literal-block-wrapper docutils container" id="id7">
<div class="code-block-caption"><span class="caption-text">further-study/customers.py</span></div>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="sd">&quot;&quot;&quot;Customers at Ubermelon.&quot;&quot;&quot;</span>


<span class="k">class</span> <span class="nc">Customer</span><span class="p">(</span><span class="nb">object</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Ubermelon customer.&quot;&quot;&quot;</span>

    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">first_name</span><span class="p">,</span> <span class="n">last_name</span><span class="p">,</span> <span class="n">email</span><span class="p">,</span> <span class="n">password</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">first_name</span> <span class="o">=</span> <span class="n">first_name</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">last_name</span> <span class="o">=</span> <span class="n">last_name</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">email</span> <span class="o">=</span> <span class="n">email</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">password</span> <span class="o">=</span> <span class="n">password</span>

    <span class="k">def</span> <span class="fm">__repr__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;Convenience method to show information about user.&quot;&quot;&quot;</span>

        <span class="k">return</span> <span class="sa">f</span><span class="s2">&quot;&lt;Customer: </span><span class="si">{</span><span class="bp">self</span><span class="o">.</span><span class="n">first_name</span><span class="si">}</span><span class="s2"> </span><span class="si">{</span><span class="bp">self</span><span class="o">.</span><span class="n">last_name</span><span class="si">}</span><span class="s2">, </span><span class="si">{</span><span class="bp">self</span><span class="o">.</span><span class="n">password</span><span class="si">}</span><span class="s2">&gt;&quot;</span>

<span class="k">def</span> <span class="nf">read_customers_from_file</span><span class="p">(</span><span class="n">filepath</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Read customers from file and populate dictionary of customers.</span>

<span class="sd">    Dictionary will be {email: Customer object}</span>
<span class="sd">    &quot;&quot;&quot;</span>

    <span class="n">customers</span> <span class="o">=</span> <span class="p">{}</span>

    <span class="k">with</span> <span class="nb">open</span><span class="p">(</span><span class="n">filepath</span><span class="p">)</span> <span class="k">as</span> <span class="n">file</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">line</span> <span class="ow">in</span> <span class="n">file</span><span class="p">:</span> 
            <span class="n">first_name</span><span class="p">,</span> <span class="n">last_name</span><span class="p">,</span> <span class="n">email</span><span class="p">,</span> <span class="n">password</span> <span class="o">=</span> <span class="n">line</span><span class="o">.</span><span class="n">strip</span><span class="p">()</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s2">&quot;|&quot;</span><span class="p">)</span>
            <span class="n">customers</span><span class="p">[</span><span class="n">email</span><span class="p">]</span> <span class="o">=</span> <span class="n">Customer</span><span class="p">(</span><span class="n">first_name</span><span class="p">,</span> <span class="n">last_name</span><span class="p">,</span> <span class="n">email</span><span class="p">,</span> <span class="n">password</span><span class="p">)</span>

    <span class="k">return</span> <span class="n">customers</span>


<span class="k">def</span> <span class="nf">get_by_email</span><span class="p">(</span><span class="n">email</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Given an email address, return matching Customer.&quot;&quot;&quot;</span>

    <span class="c1"># This relies on access to the global dictionary `customers`</span>

    <span class="k">return</span> <span class="n">customers</span><span class="p">[</span><span class="n">email</span><span class="p">]</span>


<span class="c1"># Dictionary to hold customers</span>

<span class="n">customers</span> <span class="o">=</span> <span class="n">read_customers_from_file</span><span class="p">(</span><span class="s2">&quot;customers.txt&quot;</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="literal-block-wrapper docutils container" id="id8">
<div class="code-block-caption"><span class="caption-text">further-study/shoppingsite.py</span></div>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="sd">&quot;&quot;&quot;Ubermelon shopping application Flask server.</span>

<span class="sd">Provides web interface for browsing melons, seeing detail about a melon, and</span>
<span class="sd">put melons in a shopping cart.</span>

<span class="sd">Authors: Joel Burton, Christian Fernandez, Meggie Mahnken, Katie Byers.</span>
<span class="sd">&quot;&quot;&quot;</span>

<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">Flask</span><span class="p">,</span> <span class="n">render_template</span><span class="p">,</span> <span class="n">redirect</span><span class="p">,</span> <span class="n">flash</span><span class="p">,</span> <span class="n">session</span><span class="p">,</span> <span class="n">request</span>
<span class="kn">import</span> <span class="nn">jinja2</span>

<span class="kn">import</span> <span class="nn">melons</span>
<span class="kn">import</span> <span class="nn">customers</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Flask</span><span class="p">(</span><span class="vm">__name__</span><span class="p">)</span>

<span class="c1"># A secret key is needed to use Flask sessioning features</span>

<span class="n">app</span><span class="o">.</span><span class="n">secret_key</span> <span class="o">=</span> <span class="s1">&#39;this-should-be-something-unguessable&#39;</span>

<span class="c1"># Normally, if you refer to an undefined variable in a Jinja template,</span>
<span class="c1"># Jinja silently ignores this. This makes debugging difficult, so we&#39;ll</span>
<span class="c1"># set an attribute of the Jinja environment that says to make this an</span>
<span class="c1"># error.</span>

<span class="n">app</span><span class="o">.</span><span class="n">jinja_env</span><span class="o">.</span><span class="n">undefined</span> <span class="o">=</span> <span class="n">jinja2</span><span class="o">.</span><span class="n">StrictUndefined</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Return homepage.&quot;&quot;&quot;</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;homepage.html&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/melons&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">list_melons</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Return page showing all the melons ubermelon has to offer&quot;&quot;&quot;</span>

    <span class="n">melon_list</span> <span class="o">=</span> <span class="n">melons</span><span class="o">.</span><span class="n">get_all</span><span class="p">()</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;all_melons.html&quot;</span><span class="p">,</span>
                           <span class="n">melon_list</span><span class="o">=</span><span class="n">melon_list</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/melon/&lt;melon_id&gt;&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">show_melon</span><span class="p">(</span><span class="n">melon_id</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Return page showing the details of a given melon.</span>

<span class="sd">    Show all info about a melon. Also, provide a button to buy that melon.</span>
<span class="sd">    &quot;&quot;&quot;</span>

    <span class="n">melon</span> <span class="o">=</span> <span class="n">melons</span><span class="o">.</span><span class="n">get_by_id</span><span class="p">(</span><span class="n">melon_id</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">melon</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;melon_details.html&quot;</span><span class="p">,</span>
                           <span class="n">display_melon</span><span class="o">=</span><span class="n">melon</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/cart&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">show_shopping_cart</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Display content of shopping cart.&quot;&quot;&quot;</span>

    <span class="c1"># Keep track of the total cost of the order</span>
    <span class="n">order_total</span> <span class="o">=</span> <span class="mi">0</span>

    <span class="c1"># Create a list to hold Melon objects corresponding to the melon_id&#39;s in</span>
    <span class="c1"># the cart</span>
    <span class="n">cart_melons</span> <span class="o">=</span> <span class="p">[]</span>

    <span class="c1"># Get the cart dictionary out of the session (or an empty one if none</span>
    <span class="c1"># exists yet)</span>
    <span class="n">cart</span> <span class="o">=</span> <span class="n">session</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s2">&quot;cart&quot;</span><span class="p">,</span> <span class="p">{})</span>

    <span class="c1"># Loop over the cart dictionary</span>
    <span class="k">for</span> <span class="n">melon_id</span><span class="p">,</span> <span class="n">quantity</span> <span class="ow">in</span> <span class="n">cart</span><span class="o">.</span><span class="n">items</span><span class="p">():</span>
        <span class="c1"># Retrieve the Melon object corresponding to this id</span>
        <span class="n">melon</span> <span class="o">=</span> <span class="n">melons</span><span class="o">.</span><span class="n">get_by_id</span><span class="p">(</span><span class="n">melon_id</span><span class="p">)</span>

        <span class="c1"># Calculate the total cost for this type of melon and add it to the</span>
        <span class="c1"># overall total for the order</span>
        <span class="n">total_cost</span> <span class="o">=</span> <span class="n">quantity</span> <span class="o">*</span> <span class="n">melon</span><span class="o">.</span><span class="n">price</span>
        <span class="n">order_total</span> <span class="o">+=</span> <span class="n">total_cost</span>

        <span class="c1"># Add the quantity and total cost as attributes on the Melon object</span>
        <span class="n">melon</span><span class="o">.</span><span class="n">quantity</span> <span class="o">=</span> <span class="n">quantity</span>
        <span class="n">melon</span><span class="o">.</span><span class="n">total_cost</span> <span class="o">=</span> <span class="n">total_cost</span>

        <span class="c1"># Add the Melon object to our list</span>
        <span class="n">cart_melons</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">melon</span><span class="p">)</span>

    <span class="c1"># Pass the list of Melon objects and the order total to our cart template</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;cart.html&quot;</span><span class="p">,</span>
                           <span class="n">cart</span><span class="o">=</span><span class="n">cart_melons</span><span class="p">,</span>
                           <span class="n">order_total</span><span class="o">=</span><span class="n">order_total</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/add_to_cart/&lt;melon_id&gt;&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">add_to_cart</span><span class="p">(</span><span class="n">melon_id</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Add a melon to cart and redirect to shopping cart page.</span>

<span class="sd">    When a melon is added to the cart, redirect browser to the shopping cart</span>
<span class="sd">    page and display a confirmation message: &#39;Melon successfully added to</span>
<span class="sd">    cart&#39;.&quot;&quot;&quot;</span>

    <span class="c1"># Check if we have a cart in the session and if not, add one</span>
    <span class="c1"># Also, bind the cart to the name &#39;cart&#39; for easy reference below</span>
    <span class="k">if</span> <span class="s1">&#39;cart&#39;</span> <span class="ow">in</span> <span class="n">session</span><span class="p">:</span>
        <span class="n">cart</span> <span class="o">=</span> <span class="n">session</span><span class="p">[</span><span class="s1">&#39;cart&#39;</span><span class="p">]</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">cart</span> <span class="o">=</span> <span class="n">session</span><span class="p">[</span><span class="s1">&#39;cart&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="p">{}</span>

    <span class="c1"># We could also do this with setdefault:</span>
    <span class="c1"># cart = session.setdefault(&quot;cart&quot;, {})</span>

    <span class="c1"># Add melon to cart - either increment the count (if melon already in cart)</span>
    <span class="c1"># or add to cart with a count of 1</span>
    <span class="n">cart</span><span class="p">[</span><span class="n">melon_id</span><span class="p">]</span> <span class="o">=</span> <span class="n">cart</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">melon_id</span><span class="p">,</span> <span class="mi">0</span><span class="p">)</span> <span class="o">+</span> <span class="mi">1</span>

    <span class="c1"># Print cart to the terminal for testing purposes</span>
    <span class="c1"># print(&quot;cart:&quot;, cart)</span>

    <span class="c1"># Show user success message on next page load</span>
    <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Melon successfully added to cart.&quot;</span><span class="p">)</span>

    <span class="c1"># Redirect to shopping cart page</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/cart&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/login&quot;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s2">&quot;GET&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">show_login</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Show login form.&quot;&quot;&quot;</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s2">&quot;login.html&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/login&quot;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s2">&quot;POST&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">process_login</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Log user into site.</span>

<span class="sd">    Find the user&#39;s login credentials located in the &#39;request.form&#39;</span>
<span class="sd">    dictionary, look up the user, and store them in the session.</span>
<span class="sd">    &quot;&quot;&quot;</span>

    <span class="n">email</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;email&#39;</span><span class="p">)</span>
    <span class="n">password</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">form</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;password&#39;</span><span class="p">)</span>

    <span class="n">user</span> <span class="o">=</span> <span class="n">customers</span><span class="o">.</span><span class="n">get_by_email</span><span class="p">(</span><span class="n">email</span><span class="p">)</span>

    <span class="k">if</span> <span class="ow">not</span> <span class="n">user</span><span class="p">:</span>
        <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;No such email address.&quot;</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s1">&#39;/login&#39;</span><span class="p">)</span>

    <span class="k">if</span> <span class="n">user</span><span class="o">.</span><span class="n">password</span> <span class="o">!=</span> <span class="n">password</span><span class="p">:</span>
        <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Incorrect password.&quot;</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/login&quot;</span><span class="p">)</span>

    <span class="n">session</span><span class="p">[</span><span class="s2">&quot;logged_in_customer_email&quot;</span><span class="p">]</span> <span class="o">=</span> <span class="n">user</span><span class="o">.</span><span class="n">email</span>
    <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Logged in.&quot;</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/melons&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/logout&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">process_logout</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Log user out.&quot;&quot;&quot;</span>

    <span class="k">del</span> <span class="n">session</span><span class="p">[</span><span class="s2">&quot;logged_in_customer_email&quot;</span><span class="p">]</span>
    <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Logged out.&quot;</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/melons&quot;</span><span class="p">)</span>


<span class="nd">@app</span><span class="o">.</span><span class="n">route</span><span class="p">(</span><span class="s2">&quot;/checkout&quot;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">checkout</span><span class="p">():</span>
    <span class="sd">&quot;&quot;&quot;Checkout customer, process payment, and ship melons.&quot;&quot;&quot;</span>

    <span class="c1"># For now, we&#39;ll just provide a warning. Completing this is beyond the</span>
    <span class="c1"># scope of this exercise.</span>

    <span class="n">flash</span><span class="p">(</span><span class="s2">&quot;Sorry! Checkout will be implemented in a future version.&quot;</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="s2">&quot;/melons&quot;</span><span class="p">)</span>


<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s2">&quot;__main__&quot;</span><span class="p">:</span>
    <span class="n">app</span><span class="o">.</span><span class="n">run</span><span class="p">(</span><span class="n">debug</span><span class="o">=</span><span class="kc">True</span><span class="p">,</span> <span class="n">host</span><span class="o">=</span><span class="s1">&#39;0.0.0.0&#39;</span><span class="p">)</span>
</pre></div>
</div>
</div>
</section>
<section class="section" id="id2">
<h3>Templates</h3>
<div class="literal-block-wrapper docutils container" id="id9">
<div class="code-block-caption"><span class="caption-text">further-study/templates/base.html</span></div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span>
          <span class="na">href</span><span class="o">=</span><span class="s">&quot;http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css&quot;</span><span class="p">/&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/static/css/site.css&quot;</span><span class="p">/&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar navbar-inverse navbar-static-top&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-header&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/img/ubermelon-logo.png&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-brand&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/&quot;</span><span class="p">&gt;</span>Ubermelon<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;navbar-collapse collapse&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">ul</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;nav navbar-nav navbar-right&quot;</span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>
                    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/cart&quot;</span><span class="p">&gt;</span>
                        <span class="p">&lt;</span><span class="nt">img</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;melon-cart&quot;</span>
                             <span class="na">src</span><span class="o">=</span><span class="s">&quot;/static/img/watermelon.png&quot;</span><span class="p">&gt;</span>
                        My Melon Cart
                    <span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
                <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
                {% if session.get(&#39;logged_in_customer_email&#39;) %}
                <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/logout&quot;</span><span class="p">&gt;</span>Log Out<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
                {% else %}
                <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/login&quot;</span><span class="p">&gt;</span>Log In<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
                {% endif %}
            <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

    <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;container&quot;</span><span class="p">&gt;</span>

  <span class="c">&lt;!-- Show flashed messages --&gt;</span>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="p">&gt;</span>{{ message }}<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      {% endfor %}
  {% endwith %}

  <span class="c">&lt;!-- This is where the main content goes. --&gt;</span>
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>

<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</pre></div>
</div>
</div>
</section>
</section>
</section>

        </main>

        <footer id="page-footer">
            <p>&copy; 2022 Devmountain</p>
        </footer>
      </div>

      <script src="../_static/main.js"></script>
        <script data-url_root="../" id="documentation_options" src="../_static/documentation_options.js"></script>
        <script src="../_static/jquery.js"></script>
        <script src="../_static/underscore.js"></script>
        <script src="../_static/doctools.js"></script>
  </body>
</html>